.wrapper{
    display: flex;
}

.linked-list_screen{
    width: 70%;
}

.shape_screen{
    width: 30%;
    border-left: 3px solid red;
    height: 700px;
}

.shape{
    font-size: 45px;
}
.delete{
    cursor: default;
}