::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888EFF;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #888EFF;
}
html,body{
    overflow: hidden;
}

.wrapper{
    display: flex;
}
.list-area{
    width: 75%;
    overflow: auto;
    height: 400px;
    margin: 0 auto;
    background: #F5F3F3;
}
.shape-area{
    width: 25%;
    height: 400px;
    overflow: auto;
}
.shape{
    font-size: 25px;
    text-align: center;
    display: block;
    color: #930060;
}
.delete{
    cursor: default;
    display: block;
    text-align: center;
}
.messages{
    overflow: auto;
    height: 150px;
    width: 100%;
}
ul.list{
    list-style-type: none;
}
ul.list li::before{
    content: '» '
}
#snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#arrow{
    text-align: center !important;
    font-size: 25px;
    user-select: none;
    width: 235px
}
h4{
    color: #930060;
}
.modal-button{
    background-color: #484EC2;
    border: 0;
    padding: 12px 20px;
    color: #fff;
    border-radius: 3px;
    position: relative;
    margin: 5px 15px 0 0;
}